html {
    scroll-snap-type: y mandatory;
  }
body {
    background: linear-gradient(45deg, #000000, #353333, #242020, #000000);
    background-size: 250% 250%;
    animation: gradient 20s ease infinite;
    height: 100vh;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.face {
    max-width: 200px;
}

.bg {
    background-color: rgba(0, 0, 0, 0.25);
    color: silver;
}

.fa-brands {
    font-size: 36px;
    color: white;
}

.linktir{
    box-sizing: border-box;
    scroll-snap-align: start;
    width: 100%;
    padding: 80px 60px 60px 60px;
    min-height: 100vh;
    font-size:2em;
    font-weight:700;
  }
  
#about{
    background-color: red;
}
#contact{
    background-color: blue;
}