<section id="faq" class="linktir">

    <div class="container">
        <h1 class="mt-4 mb-4">FAQ</h1>
        <input type="text" class="form-control mb-4" id="searchInput" onkeyup="searchFunction()"
            placeholder="Wyszukaj temat...">
        <div id="faqAccordionContainer">

            <!-- Accordion Container -->
            <div class="accordion-container" id="faqAccordionContainer">
                <!-- Accordion 1 -->
                <div class="accordion m-2" id="faqAccordion1">
                    <!-- Question 1 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading1">
                            <button class="accordion-button d-block collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                Pytanie 1: Jakie technologie wykorzystujesz do tworzenia stron internetowych?
                            </button>
                        </h2>
                        <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1"
                            data-bs-parent="#faqAccordion1">
                            <div class="accordion-body">
                                Wykorzystuję nowoczesne technologie, takie jak HTML5, CSS, JavaScript, Bootstrap oraz
                                WordPress, aby zapewnić responsywność, wydajność i atrakcyjny wygląd strony
                                internetowej.
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Accordion 2 -->
                <div class="accordion m-2" id="faqAccordion2">
                    <!-- Question 2 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading2">
                            <button class="accordion-button d-block collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                Pytanie 2: Czy oferujesz usługi optymalizacji SEO?
                            </button>
                        </h2>
                        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                            data-bs-parent="#faqAccordion2">
                            <div class="accordion-body">
                                Tak, oferuję usługi optymalizacji SEO, w tym audyt strony, poprawę szybkości ładowania,
                                optymalizację treści oraz struktury strony. Dzięki temu Twoja strona będzie lepiej
                                widoczna
                                w wynikach wyszukiwwania i przyciągnie większą liczbę potencjalnych klientów.
                            </div>
                        </div>
                    </div>
                </div> <!-- Accordion 3 -->
                <div class="accordion m-2" id="faqAccordion3">
                    <!-- Question 3 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading3">
                            <button class="accordion-button d-block collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                Pytanie 3: Ile kosztuje stworzenie strony internetowej?
                            </button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                            data-bs-parent="#faqAccordion3">
                            <div class="accordion-body">
                                Koszt stworzenia strony internetowej zależy od wielu czynników, takich jak złożoność
                                projektu, ilość treści, wybrane funkcje i technologie. Aby uzyskać wycenę, skontaktuj
                                się ze
                                mną, a omówimy szczegóły Twojego projektu.
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Accordion 4 -->
                <div class="accordion m-2" id="faqAccordion4">
                    <!-- Question 4 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading4">
                            <button class="accordion-button d-block collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                Pytanie 4: Czy oferujesz pomoc w doborze podzespołów komputerowych?
                            </button>
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                            data-bs-parent="#faqAccordion4">
                            <div class="accordion-body">
                                Tak, oferuję pomoc w doborze najlepszych podzespołów komputerowych, biorąc pod uwagę
                                stosunek jakość/cena. Pomogę Ci złożyć komputer dostosowany do Twoich potrzeb i budżetu.
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Accordion 5 -->
                <div class="accordion m-2" id="faqAccordion5">
                    <!-- Question 5 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading5">
                            <button class="accordion-button d-block collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                Pytanie 5: Jakie są Twoje godziny pracy i jak się z Tobą skontaktować?
                            </button>
                        </h2>
                        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                            data-bs-parent="#faqAccordion5">
                            <div class="accordion-body">
                                Jestem dostępny od poniedziałku do piątku w godzinach 9:00 - 17:00. Aby się ze mną
                                skontaktować, możesz napisać e-mail na adres kontakt@example.com lub zadzwonić pod numer
                                telefonu +48 123 456 789. Chętnie odpowiem na wszystkie Twoje pytania i wątpli
                                wości.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
