<section id="section4" class="linktir">
    <div class="container-fluid bg h-fit my-auto">
        <div class="text-center">
            <img src="/img/face.webp" class="mw-200 img-fluid mt-4 rounded-circle" alt="Michał Paśko" width="200px"
                height="199px">
            <h1 class="my-3">MICHAŁ PAŚKO</h1>
            <h5>Projektowanie stron internetowych</h5>
            <h5>Usługi informatyczne zdalne</h5>
            <h5>Naprawa komputerów Wrocław</h5>
            <p><a class="btn btn-dark btn-outline-warning my-1" href="tel:+48713458121"><i
                        class="fa-solid fa-phone"></i> +48 71 345-81-21</a></p>
            <p>
                <a class="btn btn-dark btn-outline-warning my-1" href="mailto:kontakt@paskomichal.pl">
                    <i class="fa-solid fa-envelope"></i> kontakt@paskomichal.pl</a>
            </p>
            <h3>Znajdziesz mnie na:</h3>
            <p class="d-inline-flex justify-content-center align-items-center">
                <a href="https://www.linkedin.com/in/micha%C5%82-pa%C5%9Bko-1875891b8/"
                    aria-label="Michał Paśko LinkedIn" target="_blank"><i class="fa-brands fa-linkedin p-1"></i></a>
                <a href="https://github.com/mpasko90" aria-label="Michał Paśko GitHub" target="_blank"><i
                        class="fa-brands fa-github p-1"></i></a>
                <a href="https://fixly.pl/profil/TvZlbgE4" aria-label="Michał Paśko Fixly" target="_blank"
                    class="my-auto fa-brands"><img src="/img/fixly.svg" alt="" height="88px"></a>
            </p>
        </div>
    </div>
</section>