<section id="main" class="linktir">
    <div class="container my-auto">
        <div class="row">
            <div class="col-12 col-lg-7 text-center text-lg-start">
                <h1 class="display-2 t-contrast tracking-in-expand">Michał Paśko</h1>
                <h2 class="display-6 t-contrast carousel" data-bs-ride="carousel" data-bs-touch="false">
                    <div class="carousel-inner">
                        <span class="carousel-item active" data-bs-interval="2000">Web Developer</span>
                        <span class="carousel-item" data-bs-interval="2000">Informatyk</span>
                        <span class="carousel-item" data-bs-interval="2000">Freelancer</span>
                    </div>
                </h2>
                <p>Witaj na mojej stronie! Nazywam się Michał Paśko i jestem freelancerem specjalizującym się w
                    tworzeniu stron internetowych oraz udzielaniu pomocy komputerowej.</p><p>Pierwszy swój komputer złożyłem
                    ponad dwadzieścia lat temu i od tamtej pory zgłębiałem wiedzę na temat składania, modernizacji i
                    naprawy komputerów.</p><p>Studiuję Informatykę oraz pracuję na pełny etat jako Frontend Developer
                    w sklepach militaria.pl oraz military.pl.</p>
            </div>
            <div class="col-12 col-lg-5 mt-4 my-lg-auto text-center cta-slide">
                <div class="btn-group-vertical btn-group-lg" role="group">
                    <a class="btn btn-dark btn-outline-warning p-3 radius-0 bg-glass" aria-current="page"
                        href="/tworzenie-stron-internetowych" role="button">Tworzenie stron</a>
                    <a class="btn btn-dark btn-outline-warning p-3 radius-0 bg-glass" aria-current="page"
                        href="/pogotowie-komputerowe" role="button">Pomoc komputerowa</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var carouselEl = document.querySelector('.carousel');
    var carousel = new bootstrap.Carousel(carouselEl, {
        interval: 2000,
        pause: false,
        ride: 'carousel',
        touch: false
    });
</script>