<section id="main" class="linktir">
    <div class="container d-flex justify-content-center align-items-center p-0">
        <div class="row">
            <div class="col-12 col-lg-7 text-center text-lg-start">
                <h1 class="display-2 t-contrast tracking-in-expand">Michał Paśko</h1>
                <h2 class="display-6 t-contrast text-focus-in">Tworzenie stron internetowych, pogotowie
                    komputerowe Wrocław
                </h2>
            </div>
            <div class="col-12 col-lg-5 mt-4 my-lg-auto text-center cta-slide">
                <div class="btn-group-vertical btn-group-lg" role="group">
                    <a class="btn btn-dark btn-outline-warning p-3 radius-0 bg-glass" aria-current="page"
                        href="/tworzenie-stron-internetowych" role="button">Tworzenie stron</a>
                    <a class="btn btn-dark btn-outline-warning p-3 radius-0 bg-glass" aria-current="page"
                        href="/pogotowie-komputerowe" role="button">Pomoc komputerowa</a>
                </div>
            </div>
        </div>
    </div>
</section>