<section id="section2" class="linktir">
    <div class="container my-auto">
        <div id="carouselSection2" class="carousel slide" data-bs-ride="true">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-block w-100">
                        <div class="accordion accordion-flush mx-auto" id="acc-sec2-1">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="acc-s2-1">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-2-1-1" aria-expanded="false"
                                        aria-controls="collapse-2-1-1">
                                        <h1 class="h5">Tworzenie stron WWW - technologie </h1>
                                    </button>
                                </h2>
                                <div id="collapse-2-1-1" class="accordion-collapse collapse" aria-labelledby="acc-s2-1"
                                    data-bs-parent="#acc-sec2-1">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush text-center">
                                            <li class="list-group-item"><i class="fa-brands fa-html5" title="HTML5">
                                                    HTML5</i></li>
                                            <li class="list-group-item"><i class="fa-brands fa-css3-alt" title="CSS3">
                                                    CSS3</i></li>
                                            <li class="list-group-item"><i class="fa-brands fa-js" title="JS">
                                                    JavaScript</i></li>
                                            <li class="list-group-item"><i class="fa-brands fa-bootstrap"
                                                    title="BOOTSTRAP">
                                                    Bootstrap 5</i></li>
                                            <li class="list-group-item"><i class="fa-brands fa-magento" title="MAGENTO">
                                                    Magento</i></li>
                                            <li class="list-group-item"><i class="fa-brands fa-wordpress"
                                                    title="WORDPRESS">
                                                    Wordpress</i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="acc-s2-2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-2-1-2" aria-expanded="false"
                                        aria-controls="collapse-2-1-2">
                                        <p class="h5">Projektowanie stron internetowych - cena</p>
                                    </button>
                                </h2>
                                <div id="collapse-2-1-2" class="accordion-collapse collapse" aria-labelledby="acc-s2-2"
                                    data-bs-parent="#acc-sec2-1">
                                    <div class="accordion-body">Tutaj wszystko zależy od tego, jak duża i
                                        rozbudowana będzie
                                        Twoja
                                        strona internetowa. Cena stworzenia sklepu internetowego będzie z
                                        pewnością
                                        wyższa,
                                        niż
                                        zaprojektowanie graficznej strony internetowej.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="acc-s2-3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-2-1-3" aria-expanded="false"
                                        aria-controls="collapse-2-1-3">
                                        <h1 class="h5">Optymalizacja istniejącej strony WWW</h1>
                                    </button>
                                </h2>
                                <div id="collapse-2-1-3" class="accordion-collapse collapse" aria-labelledby="acc-s2-3"
                                    data-bs-parent="#acc-sec2-1">
                                    <div class="accordion-body">
                                        <p>Obecnie około 70% ruchu w internecie pochodzi z urządzeń mobilnych.
                                            Masz
                                            własną
                                            stronę internetową ale nie wygląda ona zbyt dobrze na telefonie lub
                                            długo się
                                            ładuje?</p>
                                        <p><a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                class="btn  btn-warning btn-sm">Napisz lub zadzwoń</a> -
                                            sprawdzę
                                            co można poprawić na Twojej
                                            stronie oraz przedstawię
                                            ofertę strony internetowej.</p>
                                        <div class="modal fade" id="exampleModal" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content popup">
                                                    <!-- <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Kontakt</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div> -->
                                                    <div class="modal-body mx-auto">
                                                        <div class="btn-group-vertical btn-group-lg" role="group">
                                                            <a class="btn btn-dark btn-outline-warning"
                                                                href="tel:+48713458121"><i
                                                                    class="fa-solid fa-phone"></i>
                                                                +48 71
                                                                345-81-21</a>
                                                            <a class="btn btn-dark btn-outline-warning"
                                                                href="mailto:kontakt@paskomichal.pl">
                                                                <i class="fa-solid fa-envelope"></i>
                                                                kontakt@paskomichal.pl</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="acc-s2-4">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-2-1-4" aria-expanded="false"
                                        aria-controls="collapse-2-1-4">
                                        <p class="h5">Budowanie stron internetowych - Masz już pomysł?</p>
                                    </button>
                                </h2>
                                <div id="collapse-2-1-4" class="accordion-collapse collapse" aria-labelledby="acc-s2-4"
                                    data-bs-parent="#acc-sec2-1">
                                    <div class="accordion-body">
                                        <p>
                                            Każdemu klientowi, stronę internetową mogę przygotować według jego
                                            własnego pomysłu.
                                            Jeżeli masz już swój własny projekt strony lub sam pomysł, opisz go
                                            i <a href="mailto:kontakt@paskomichal.pl">wyślj maila</a> z
                                            zapytaniem o wycenę usługi tworzenia stron.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="acc-s2-5">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-2-1-5" aria-expanded="false"
                                        aria-controls="collapse-2-1-5">
                                        <h1 class="h5">Nie wiesz od czego zacząć tworzenie strony?</h1>
                                    </button>
                                </h2>
                                <div id="collapse-2-1-5" class="accordion-collapse collapse" aria-labelledby="acc-s2-5"
                                    data-bs-parent="#acc-sec2-1">
                                    <div class="accordion-body">
                                        <p>
                                            Zrobienie nowej strony internetowej rozpoczynamy od projektu strony.
                                            Jeśli jeszcze nie masz swojej
                                            strony
                                            internetowej i brakuje Ci pomysłu, pokażę, jak wyglądają
                                            profesjonalne strony internetowe. <a href="tel:+48713458121">Zadzwoń</a> i
                                            zapytaj o darmową
                                            konsultację.

                                            Dokładam wszelkich starań aby prace nad Twoją stroną internetową
                                            przebiegały sprawnie.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="carousel-item">
                    <div class="d-block w-100">
                        <div class="accordion accordion-flush mx-auto" id="acc-sec2-2">

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="acc-s2-b1">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-2-2-1" aria-expanded="false"
                                        aria-controls="collapse-2-2-1">
                                        <h1 class="h5">Responsywne strony WWW</h1>
                                    </button>
                                </h2>
                                <div id="collapse-2-2-1" class="accordion-collapse collapse" aria-labelledby="acc-s2-b1"
                                    data-bs-parent="#acc-sec2-2">
                                    <div class="accordion-body">Responsywne strony internetowe to strony, które
                                        automatycznie dostosowują swój wygląd i rozmieszczenie elementów do
                                        różnych rozmiarów ekranów, w tym urządzeń mobilnych, tabletów i
                                        komputerów. Dzięki temu użytkownicy otrzymują doskonałe wrażenia z
                                        korzystania ze strony niezależnie od tego, jakie urządzenie
                                        wykorzystują.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="acc-s2-b2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-2-2-2" aria-expanded="false"
                                        aria-controls="collapse-2-2-2">
                                        <h1 class="h5">Profesjonalne strony internetowe Wrocław</h1>
                                    </button>
                                </h2>
                                <div id="collapse-2-2-2" class="accordion-collapse collapse" aria-labelledby="acc-s2-b2"
                                    data-bs-parent="#acc-sec2-2">
                                    <div class="accordion-body">
                                        <p>
                                            Wrocław strony internetowe. Wrocław to miasto w którym mieszkam i
                                            pracuję.
                                            Nowoczesne strony internetowe wymagają konsultacji.
                                            Proces tworzenia strony możemy zacząć więc od spotkania na którym
                                            omówimy jakie kroki należy podjąć aby uruchomić stronę internetową.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="acc-s2-b3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-2-2-3" aria-expanded="false"
                                        aria-controls="collapse-2-2-3">
                                        <p class="h5">Strony internetowe Wordpress</p>
                                    </button>
                                </h2>
                                <div id="collapse-2-2-3" class="accordion-collapse collapse" aria-labelledby="acc-s2-b3"
                                    data-bs-parent="#acc-sec2-2">
                                    <div class="accordion-body">
                                        <p>Projektowanie stron Wordpress, plusy:</p>
                                        <ul>
                                            <li>łatwy system zarządzania stroną</li>
                                            <li>prosta do modyfikacji zawartość strony internetowej</li>
                                            <li>bardzo dobre pozycjonowanie stron internetowych</li>
                                            <li>profesjonalna strona firmy</li>
                                            <li>utrzymanie strony internetowej może kosztować tyle co nic</li>
                                            <li>łatwa i szybka implementacja strony</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <p class="accordion-header" id="acc-s2-b4">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-2-2-4" aria-expanded="false"
                                        aria-controls="collapse-2-2-4">
                                        <p class="h5">Sklepy internetowe WooCommerce</p>
                                    </button>
                                </p>
                                <div id="collapse-2-2-4" class="accordion-collapse collapse" aria-labelledby="acc-s2-b4"
                                    data-bs-parent="#acc-sec2-2">
                                    <div class="accordion-body">
                                        <p>
                                            Wordpress oferuje możliwość stworzenia prostego w obsłudze sklepu
                                            internetowego WooCommerce. Jest to strona internetowa dysponująca
                                            możliwością dodawania produktów, przetwarzania płatności, integracji
                                            z
                                            wieloma platformami płatniczymi i wiele innych. Sklep internetowy
                                            WooCommerce jest
                                            popularny ze względu na swoją prostotę i elastyczność, a także na
                                            fakt, że jest bezpłatny i pozwala w łatwy sposób zarządzać stroną
                                            internetową.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="acc-s2-b5">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-2-2-5" aria-expanded="false"
                                        aria-controls="collapse-2-2-5">
                                        <p class="h5">
                                            Firmowa strona internetowa
                                        </p>
                                    </button>
                                </h2>
                                <div id="collapse-2-2-5" class="accordion-collapse collapse" aria-labelledby="acc-s2-b5"
                                    data-bs-parent="#acc-sec2-2">
                                    <div class="accordion-body">
                                        <p>Strony internetowe Wordpress to świetny sposób aby skrócić czas
                                            realizacji strony internetowej. Dodatkowo wygląd strony internetowej
                                            będzie
                                            idealnie pasował na każdy ekran.</p>
                                        <p>Po odpowiednim skonfigurowaniu, administracją strony internetowej
                                            zajmiesz się
                                            sam. Optymalizacja stron to kilka kliknięć. <b>0zł</b> - tyle
                                            kosztuje strona w późniejszym utrzymaniu.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <div class="d-block w-100">
                        <div class="accordion accordion-flush mx-auto" id="acc-sec2-3">

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="acc-s2-c1">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-2-3-1" aria-expanded="false"
                                        aria-controls="collapse-2-3-1">
                                        <h1 class="h5">Serwis komputerowy Wrocław</h1>
                                    </button>
                                </h2>
                                <div id="collapse-2-3-1" class="accordion-collapse collapse" aria-labelledby="acc-s2-c1"
                                    data-bs-parent="#acc-sec2-3">
                                    <div class="accordion-body">
                                        <p>Jeśli szukasz perfekcyjnego serwisu sprzętu komputerowego, jesteś we
                                            właściwym
                                            miejscu.
                                            Oferuję
                                            szeroki zakres usług informatycznych, od naprawy komputerów i
                                            laptopów po tworzenie
                                            stron
                                            internetowych. Jestem w stanie pomóc każdemu klientowi szukającemu
                                            rozwiązania
                                            wszelkich
                                            problemów związanych ze sprzętem i oprogramowaniem.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="acc-s2-c2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-2-3-2" aria-expanded="false"
                                        aria-controls="collapse-2-3-2">
                                        <h1 class="h5">Skuteczność strony internetowej</h1>
                                    </button>
                                </h2>
                                <div id="collapse-2-3-2" class="accordion-collapse collapse" aria-labelledby="acc-s2-c2"
                                    data-bs-parent="#acc-sec2-3">
                                    <div class="accordion-body">
                                        <p>Dzięki stronom internetowym Twoja firma może zyskać jeszcze więcej
                                            klientów. Strony internetowe tworzymy również z myślą o nich.
                                            Projekt graficzny strony, pomoc w rozwijaniu stron internetowych,
                                            obsługa stron. Napisz, czego potrzebuje Twoja strona firmowa.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="acc-s2-c3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-2-3-3" aria-expanded="false"
                                        aria-controls="collapse-2-3-3">
                                        <h1 class="h5">Skuteczna naprawa komputerów stacjonarnych</h1>
                                    </button>
                                </h2>
                                <div id="collapse-2-3-3" class="accordion-collapse collapse" aria-labelledby="acc-s2-c3"
                                    data-bs-parent="#acc-sec2-3">
                                    <div class="accordion-body">
                                        <p>Zapewnij swojemu komputerowi stacjonarnemu profesjonalną naprawę -
                                            nasza ekipa
                                            specjalistów
                                            pomoże Ci rozwiązać wszelkie problemy. Z nami możesz mieć pewność,
                                            że Twój sprzęt
                                            będzie
                                            działać płynnie i efektywnie.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="acc-s2-c4">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-2-3-4" aria-expanded="false"
                                        aria-controls="collapse-2-3-4">
                                        <h1 class="h5">Profesjonalna modernizacja komputera</h1>
                                    </button>
                                </h2>
                                <div id="collapse-2-3-4" class="accordion-collapse collapse" aria-labelledby="acc-s2-c4"
                                    data-bs-parent="#acc-sec2-3">
                                    <div class="accordion-body">
                                        <p>Oferujemy profesjonalne usługi, które pomogą Ci odnowić i
                                            unowocześnić Twój sprzęt.
                                            Nasze
                                            doświadczenie i wiedza pozwala nam dostosować nasze usługi do
                                            indywidualnych potrzeb
                                            każdego
                                            klienta.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="acc-s2-c5">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-2-3-5" aria-expanded="false"
                                        aria-controls="collapse-2-3-5">
                                        <p class="h5">
                                            Czy agencja projektowania stron jest niezbędna?
                                        </p>
                                    </button>
                                </h2>
                                <div id="collapse-2-3-5" class="accordion-collapse collapse" aria-labelledby="acc-s2-c5"
                                    data-bs-parent="#acc-sec2-3">
                                    <div class="accordion-body">Do wykonania strony internetowej nie zawsze
                                        będzie konieczna obsługa ze strony agencji projektowania stron.
                                        Oczywiście duże portale internetowe będą wymagały większych zespołów aby
                                        prace nad stroną internetową przebiegały szybko.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselSection2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselSection2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>



    </div>
</section>